<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vitae sed, asperiores debitis ad quas illum quam ullam voluptatibus, accusamus reprehenderit in! Laborum tempore pariatur amet. Ipsam amet consequatur soluta placeat, tempora officia neque sequi obcaecati. Eius sit veritatis nostrum.</p>
    </div>
</div>